
.Vasco{
    background-color: lightblue;
    color: darkcyan;
    text-align: center;
}
.root2{
    height: 50px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}